body {
  margin-top: 10px;
  background: #e0e0e0;
}

#container {
  text-align: center;
}

.update-nag {
  display: inline-block;
  font-size: 48px;
  text-align: left;
  background-color: #e0e0e0;
  /*height: 40px;*/
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  max-width: 100%;
}

.update-nag:hover {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
}

.update-nag>.update-split {
  background: #337ab7;
  width: 115px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.update-nag>.update-split>.fa {
  position: relative;
  top: calc(50% - 9px)!important;
  /* 50% - 3/4 of icon height */
}

.update-nag>.update-split.traffic_jam {
  background: #FF5D00!important;
}

.update-nag>.update-split.accident {
  background: #FF0000!important;
}

.update-nag>.update-split.incident {
  background: #FCD309!important;
}

.update-nag>.update-split.road_work {
  background: #07A7C0!important;
}

.update-nag>.update-split.speed_traps {
  background: #0A0A0A!important;
}

.update-nag>.update-text {
  line-height: 53px;
  padding-top: 11px;
  padding-left: 125px;
  padding-right: 10px;
}

.update-nag>.update-text label {
  float: right;
  margin-left: 20px;
  cursor: pointer;
  color: #d9534f;
}

.update-nag>.update-text label:hover {
  color: #ce3c39;
}
